/* header */

.container {width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;}
img {height: 15px;
    padding-inline: 2%;}
.logo {justify-content: flex-start;}
.navbar {font-family: Arial, Helvetica, sans-serif;
/*
margin-right: 100px;
display: inline-block;*/
padding-left: 0%;
}
hr {box-shadow: 3px}
.icons {display:flex;
justify-content: flex-end;
margin-right: 0%;
}
/* style de mourad*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.main1 {
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    margin-left: 5%;
    height: 55%;
    width: 55%;
}

.container1 {
    width: 90%;
    height: 55%;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px; 
    font-size: 1rem;
    color: #666;
}

.back-icon {
    width: 12px; 
    height: auto;
    cursor: pointer;
}

.header-text {
    font-size: 16px;
    color: #666;
}


.product-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    margin-top: -10px; /
}
.briefing-container {
    flex: 0.5; 
    text-align: center;
}

.briefing-image {
    width: 50px; 
    height: auto;
    border-radius: 10px;
    margin-top: 0;
    cursor: pointer;
}

.main-image-container {
    flex: 1; 
    text-align: center;
}

.main-image {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-top: 0; 
}

/* codigo aside_top*/
.line  {
    margin-top: 25px;
  }
  
  #circle_1 {
     background: rgb(165, 200, 230);
     border-radius: 50%;
     border: rgb(124, 119, 119) solid 0.5px;
     width: 35px;
     height: 35px;
  }
  #circle_2 {
    background: rgb(196, 199, 185);
    border-radius: 50%;
    border: rgb(124, 119, 119) solid 0.5px;
    width: 35px;
    height: 35px;
  }
  #circle_3 {
    background: rgb(35, 41, 43);
    border-radius: 50%;
    border: rgb(124, 119, 119) solid 0.5px;
    width: 35px;
    height: 35px;
  }
  #circle_4 {
    background: rgb(199, 207, 210);
    border-radius: 50%;
    border:  rgb(124, 119, 119) solid 0.5px;
    width: 35px;
    height: 35px;
  }
  #circle_5 {
    background: rgb(190, 217, 163);
    border-radius: 50%;
    border:  rgb(124, 119, 119) solid 0.5px;
    width: 35px;
    height: 35px;
  }
  #circle_6 {
    background: rgb(224, 109, 86);
    border-radius: 50%;
    border:  rgb(124, 119, 119) solid 0.5px;
    width: 35px;
    height: 35px;
  }

  
/* codigo de grigory*/
.bottom-line {
    margin-top: 25px;
    width: 340px;
    margin-right: 100%;
  }
  hr {
    background-color: rgb(136, 136, 136);
    border-color: rgb(136, 136, 136);
  }
  .cantidad,.comprar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: row;
}

.selector_de_cantidad {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 75px;
    width: 70px;
    font-size: x-large;
}
span{
    margin-right: 10px;
    float: left;
}
.espacio {
    font-weight: bold;
}
main {
    background-color: lightgray;
    display: inline-block;
}
.button {
    background-color: skyblue;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    height: 75px;
    width: 260px;
  }


/* codigo de ayelen */
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F9FA;
    font-size: x-small;
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 0;
}

#redes {
    width: 45%;
    display: flex;
    justify-content: center;
}

.iconoRedes {
    padding-inline: 2%;
}

#banderaYpolicies {
    width: 45%;
    
}

#bandera {
    float: left;
    vertical-align: middle;
    margin-right: 1%;
}

a {  
    padding-inline: 2%;
    text-decoration: none;
    color: black;
}


