<!DOCTYPE html>
<body>
  <main>
<link href="aside_buttom_styles.css" rel="stylesheet"/>
<h1>229 €</h1>
<hr class="bottom-line">
<div class="box">
  <select class="selector_de_cantidad" name="cantidad_de_producto">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>  
  <div class="espacio"><span class="espacio"></span></div>
  <div><button class="button">Add to Cart</button></div>
</div>
<p>
  <img src="./src/Delivery.svg" alt="truck_icon"/>
Delivers 29 Apr to <b><font color="blue">08023</font></b>
</p>
</main>
</body>