<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link   rel="stylesheet" href="nuevo_footer.css">
    <title>Google Store Replica</title>
    </head>
<body>
    <footer>
        <div id="redes">
            <a href="https://x.com/madebygoogle" target="_blank"><img class="iconoRedes" src="SM-x.svg" alt="X"></a>
            <a href="https://www.instagram.com/madebygoogle" target="_blank"><img class="iconoRedes" src="SM-instagram.svg" alt="Instagram"></a>
            <a href="https://www.facebook.com/madebygoogle" target="_blank"><img class="iconoRedes" src="SM-facebook.svg" alt="Facebook"></a>
            <a href="https://www.youtube.com/madebygoogle" target="_blank"><img class="iconoRedes" src="SM-youtube.svg" alt="Youtube"></a>
            <a href="https://www.tiktok.com/@googlepixel" target="_blank"><img class="iconoRedes"src="SM-tiktok.svg" alt="TikTok"></a>
        </div>
        <div id="banderaYpolicies">
            <p><img src="Spain.svg" alt="España" id="bandera">Spain
            <a href="https://policies.google.com/privacy" id="privacy" target="_blank">Privacy</a>
            <a href="https://safety.google/intl/es/nest/" target="_blank">Google Nest Commitment to Privacy</a>
            <a href="https://store.google.com/intl/es_es/about/device-terms/" target="_blank">Sales Terms</a>
            <a href="https://policies.google.com/terms?hl=es&gl=es" target="_blank">Terms of Service</a></p>
        </div>
    </footer>
    </body>
</html>